[user]
    name = Nishit Gupta
    email = nishit.gupta6708@gmail.com

[core]
    editor = nvim
    whitespace = trailing-space,space-before-tab
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    lg = log --oneline --graph --decorate

[includeIf "gitdir:~/"]
    path = ~/.gitconfig.local
